<%- include('./includes/head')  %> 

<body>
    <%- include('./includes/navigation')  %> 
    <h1>Something wonky happend server-side. Please watch some Youtube for now, while we try to fix it. </h1>
</body>
</html>