.cart__items-list {
     display: block;
     align-items: center;
     margin: 0;
}

.cart__items-list li,
.cart__items-list > div {
     margin: auto;
     width: 40%;
     text-align: center;
     background-color: rgba(218, 255, 233, 0.931);
     list-style: none;

     padding: 0.5rem;
     color: darkgreen;
     border-radius: 5px;
}
